.App {
  display: flex;
  justify-content: center;
  font-family: 'Mochiy Pop P One';
  text-align: center;
}

.main-container {
  width: 100%;
  max-width: 650px;
}

header {
  border-bottom: 4px solid rgb(224, 170, 20);
  padding-bottom: 10px;
  text-align: center;
}

h4, h2 {
  text-align: center;
  margin-top: 40px; 
}

h2 {
  font-size: 26px;
  word-wrap: break-word;
}

.anchor-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

a {
  cursor: pointer;
  transition: color 0.2s;
  color: black;
}

.anchor .underline {
  height: 4px;
  width: 100%;
  background-color: rgb(224, 170, 20);
  margin-top: 2px;
  opacity: 0;
}

a:hover {
  color:rgb(224, 170, 20)
}

.anchor:hover > .underline {
  animation-name: underline;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.logo-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

img {
  height: auto;
  width: 85%;
  max-width: 600px;
  min-width: 300px;
  margin-top: -10px;
}

.reverseAnimation {
  animation-name: reverseUnderline;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.tokenomics p {
  font-size: 14px;
}

@keyframes underline {
  from {
    transform: translateX(20px);
    opacity: 0
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}